Repository json-q/rc-library-templete: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, prettier --write, stylelint --fix --cache

.lintstagedrc:

{
  "packages/**/*.{js,jsx,ts,tsx}": ["eslint --fix --cache", "prettier --write"],
  "packages/**/package.json": ["prettier --write"],
  "packages/**/*.{css,less}": ["stylelint --fix --cache", "prettier --write"],
  "**/*.md": ["prettier --write"]
}

feat: add esmodule and commonjs build
  eslint.config.mjs
  package.json
  packages/components/.babelrc.js
  packages/components/.browserslistrc
  packages/components/gulpfile.js
  packages/components/package.json
  packages/components/src/button/index.tsx
  packages/components/src/button/interface.ts
  packages/components/src/button/style/index.less
  packages/components/src/button/style/index.ts
  packages/components/src/button/style/token.less
  packages/components/src/style/index.less
  packages/components/src/style/normalize.less
  packages/components/src/style/themes/default.less
Due: eslint --fix --cache, prettier --write, stylelint --fix --cache

feat: add dist build and storybook
  packages/components/gulpfile.js
  packages/components/package.json
  packages/components/src/index.ts
  packages/components/webpack/webpack.common.js
  packages/components/webpack/webpack.dev.js
  packages/components/webpack/webpack.prod.js
  storybook/.gitignore
  storybook/.storybook/main.ts
  storybook/.storybook/preview.ts
  storybook/README.md
  storybook/eslint.config.js
  storybook/index.html
  storybook/package.json
  storybook/public/vite.svg
  storybook/src/App.tsx
  storybook/src/assets/react.svg
  storybook/src/main.tsx
  storybook/src/stories/button/index.stories.tsx
  storybook/src/stories/button/source/.gitkeep
  storybook/src/stories/space/.gitkeep
  storybook/src/vite-env.d.ts
  storybook/tsconfig.app.json
  storybook/tsconfig.json
  storybook/tsconfig.node.json
  storybook/vite.config.ts
Due: eslint --fix --cache, prettier --write

docs: add README
  README.md
Due: prettier --write

feat: add turbo
  package.json
  packages/components/package.json
  storybook/package.json
  turbo.json
Due: prettier --write

feat: add icon library and script to generate icon
  eslint.config.mjs
  packages/icons/package.json
  packages/icons/scripts/transSvgToComponent.ts
  packages/icons/src/components/Icon.tsx
  packages/icons/src/components/context.ts
  packages/icons/src/icons/ArrowDown.tsx
  packages/icons/src/icons/Github.tsx
  packages/icons/src/icons/index.ts
  packages/icons/src/index.ts
  packages/icons/src/svgs/arrow-down.svg
  packages/icons/src/svgs/github.svg
  packages/icons/tsconfig.json
  packages/tsconfig/react-library.json
Due: eslint --fix --cache, prettier --write

refactor: generate icon script refactor
  packages/icons/package.json
  packages/icons/scripts/constants.ts
  packages/icons/scripts/genIcon.ts
  packages/icons/scripts/transSvgToComponent.ts
Due: eslint --fix --cache, prettier --write

style: class prefix error
  packages/icons/src/components/Icon.tsx
Due: eslint --fix --cache, prettier --write

perf: improve svg props
  packages/icons/scripts/transSvgToComponent.ts
  packages/icons/src/icons/ArrowDown.tsx
  packages/icons/src/icons/Github.tsx
Due: eslint --fix --cache, prettier --write
